<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>



<body>
<h1>Most popular Locations</h1>

<p th:text="'This bar chart represnts the most demanding locations for jobs:' "/>

<img th:src="@{/images/chart3.png}" style="width:50%;"/>



</body>

</html>



